<a href="{{ .Destination | safeURL }}"
  {{ with .Title}}
    title="{{ . }}"
  {{ else }}
    title="{{ .Text | safeHTML }}"
  {{ end }}

  {{ $dofollow := false }}
  {{ $destination := .Destination }}
  {{ range .Page.Params.dofollows }}
    {{ if (in ($destination) .) }}
      {{ $dofollow = true }}
    {{ end }}
  {{ end }}
  {{ range site.Params.dofollows }}
    {{ if (in ($destination) .) }}
      {{ $dofollow = true }}
    {{ end }}
  {{ end }}

  {{ if $dofollow }}
    target="_blank"
  {{ else if strings.HasPrefix .Destination "http" }}
    target="_blank" rel="nofollow noopener"
  {{ end }}>{{ .Text | safeHTML }}</a>
