<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="min-h-screen">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{if eq .Title .Site.Title }}
    {{ if or (eq .Kind "home") (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
    {{ if gt $.Paginator.PageNumber 1 }}
    {{ title .Title }} Pg. {{ $.Paginator.PageNumber }}
    {{ else }}
    {{ title .Title }}
    {{ end }}
    {{ else }}
    {{ title .Title }}
    {{ end }}
    {{ else }}
    {{ if or (eq .Kind "home") (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
    {{ if gt $.Paginator.PageNumber 1 }}
    {{ title .Title }} Pg. {{ $.Paginator.PageNumber }} | Boot.dev
    {{ else }}
    {{ title .Title }} | Boot.dev
    {{ end }}
    {{ else }}
    {{ title .Title }} | Boot.dev
    {{ end }}
    {{ end }}
  </title>

  {{ if and (.IsHome) ($.Paginator) }}
  {{ if eq $.Paginator.PageNumber 1 }}
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ else }}
  <link rel="canonical" href="{{ .Permalink }}page/{{ $.Paginator.PageNumber }}/" />
  {{ end }}
  {{ else }}
  {{ if .Params.canonical }}
  <link rel="canonical" href="{{ .Params.canonical }}">
  {{ else }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}
  {{ end }}

  {{ if or (eq .Kind "home") (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
  {{- if $.Paginator.HasPrev -}}
  <link rel="prev" href="{{ $.Paginator.Prev.URL | absURL }}" />
  {{- end -}}
  {{- if $.Paginator.HasNext -}}
  <link rel="prev" href="{{ $.Paginator.Next.URL | absURL }}" />
  {{- end -}}
  {{- end }}

  {{ if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{ else if .Summary | plainify }}
  <meta name="description" content="{{ .Summary | plainify }}" />
  {{ else }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
  {{ end }}

  {{ $fontcss := resources.Get "css/fonts.css" | minify }}
  <link href="{{ $fontcss.RelPermalink }}" rel="stylesheet">

  {{ $tailcss := resources.Get "css/tail-out.css" | minify }}
  <link href="{{ $tailcss.RelPermalink }}" rel="stylesheet">

  {{ $stylescss := resources.Get "css/styles.css" | minify }}
  <link href="{{ $stylescss.RelPermalink }}" rel="stylesheet">

  {{ $syntaxcss := resources.Get "css/syntax.css" | minify }}
  <link href="{{ $syntaxcss.RelPermalink }}" rel="stylesheet">

  <!-- fonts -->
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="stylesheet" href="https://use.typekit.net/cmx5dxo.css">
  <!-- end fonts -->

  {{ partial "favicons.html" . }}
  {{ partial "jsonld.html" . }}
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}
  {{ partial "schema.html" . }}
</head>

<body class="text-gray-250 m-0 bg-image-blue">

  {{ partial "top_nav.html" . }}
