{{ partial "header.html" . }}

<main class="mb-4 flex flex-row justify-center">
  <h1 class="text-4xl text-blue-400 mb-2 font-bold">
    {{ title .Title }}
    {{ if (gt $.Paginator.PageNumber 1) }} -
    Pg. {{ $.Paginator.PageNumber }}
    {{ end }}
  </h1>
</main>

<ul>
  {{ range $index, $val := $.Paginator.Pages }}
  <li>
    <div class="mb-10">
      <a href="{{ .RelPermalink }}" class="cursor-pointer">
        <h2 class="text-2xl font-bold text-blue-400 hover:text-blue-300 underline mb-2">{{ .Title | markdownify }}</h2>
      </a>

      <h3 class="text-sm text-gray-300 mb-8">
        {{ .Date.Format "Jan 02, 2006" }} by {{ .Params.author }}
      </h3>

      {{ if .Params.images }}
      <a href="{{ .RelPermalink }}" class="mb-2">
        <img {{ if gt $index 1 }} loading="lazy" {{ end }} width="736" height="414" class="rounded mb-4"
          src="{{ index (.Params.images) 0 }}" />
      </a>
      {{ end }}

      <p>{{.Summary}}</p>
    </div>
  </li>
  {{ end }}
</ul>

{{ partial "page_numbers.html" . }}

{{ partial "footer.html" . }}
