{{ partial "header.html" . }}

{{ .Content }}

<main class="mb-4 flex flex-row justify-center">
  <a href="/categories"><span>Categories</span></a>
  <span class="mx-2"> | </span>
  <a href="/index.xml"><span>RSS</span></a>
</main>

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <div class="mb-10">
      <a href="{{ .RelPermalink }}">
        <div class="hover:opacity-80">
          <h2 class="text-3xl font-bold text-white mb-2">{{ .Title | markdownify }}</h2>
          <h3 class="text-sm text-gray-250 mb-8">{{ .Date.Format "Jan 02, 2006" }} by {{ .Params.author }}</h3>
          {{ if .Params.images }}
          <img loading="lazy" class="rounded mb-4" src="{{ index (.Params.images) 0 }}" />
        </div>
      </a>
      {{ end }}
      <p>{{.Summary}}</p>
    </div>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
