{{ partial "header.html" . }}

{{ $isBlog := and (.Params.categories) (not (in .Params.categories "wiki")) }}

<div>

    <div class="flex flex-col lg:flex-row w-full lg:justify-evenly lg:items-start">

        <div class="max-w-3xl p-4">
            <div class="mb-8">

                {{ partial "breadcrumb" . }}

                {{ if .Params.images }}
                <div class="mb-4">
                    <img class="rounded" width="736" height="414" {{ if .Params.imageAlts }}
                        alt="{{ index (.Params.imageAlts) 0 }}" {{ end }} src="{{ index (.Params.images) 0 }}" />
                </div>
                {{ end }}

                <h1 class="text-4xl text-white mb-2">{{ .Title }}</h1>

                {{ $date := .Params.date.Format "Jan 2, 2006" }}
                {{ if .Params.author }}
                <p class="text-sm text-gray-300">
                    By {{ .Params.author }}
                    {{ if (gt .Params.date 0) }}
                    on {{ $date }}
                    {{ end }}
                </p>
                {{ end }}

                {{ $lastmod := .Params.lastmod.Format "Jan 2, 2006" }}
                {{ if and (ne $lastmod $date) (gt .Params.lastmod .Params.date) }}
                <p class="text-sm text-gray-300">
                    Last updated on {{ $lastmod }}
                </p>
                {{ end }}
            </div>

            <div>
                <main>

                    {{ if .Params.toc }}
                    <h2>Table of Contents</h2>
                    <aside>
                        {{.TableOfContents}}
                    </aside>
                    {{ end }}


                    {{ .Content }}

                    {{ if $isBlog }}
                    {{ partial "signature.html" . }}
                    {{ end }}
                </main>

                {{ if $isBlog }}
                {{ partial "related.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
