{{ partial "header.html" . }}

<div class="w-full flex justify-center">
    <div class="w-full max-w-7xl flex pt-4 px-8 ">
        <a class="leading-6 flex cursor-pointer hover:text-white rounded hover:bg-gray-700 py-2 px-4" href="/">
            <svg viewBox="0 -9 3 24"
                class="overflow-visible mr-3 text-slate-400 w-auto h-6 group-hover:text-slate-600 dark:group-hover:text-slate-300">
                <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
            Back home
        </a>
    </div>
</div>

<div class="max-w-3xl m-auto p-4">
    <div class="article-meta mb-8">
        {{ if .Params.images }}
        <img class="rounded mb-4" width="736" height="414" src="{{ index (.Params.images) 0 }}" />
        {{ end }}

        <h1 class="text-4xl font-bold text-white mb-2">{{ .Title | markdownify }}</h1>

        {{ $date := .Params.date.Format "Jan 2, 2006" }}
        {{ if .Params.author }}
        <p class="text-sm text-gray-300">
            By {{ .Params.author }}
            {{ if (gt .Params.date 0) }}
            on {{ $date }}
            {{ end }}
        </p>
        {{ end }}

        {{ $lastmod := .Params.lastmod.Format "Jan 2, 2006" }}
        {{ if and (ne $lastmod $date) (gt .Params.lastmod .Params.date) }}
        <p class="text-sm text-gray-300">
            Last updated on {{ $lastmod }}
        </p>
        {{ end }}

    </div>

    <main>
        {{ .Content }}
    </main>

    {{ if ne .Section "" }}
    {{ partial "signature.html" . }}
    {{ end }}

    {{ partial "related.html" . }}

</div>

{{ partial "footer.html" . }}
