:root {
  --red-100: #fcd9da;
  --red-150: #fac7c8;
  --red-200: #f8b4b5;
  --red-250: #f7a1a3;
  --red-300: #f58f91;
  --red-350: #f37c7e;
  --red-400: #f16a6c;
  --red-450: #ef575a;
  --red-500: #ed4245;
  --red-550: #ec3235;
  --red-600: #ea1f22;
  --red-650: #e01518;
  --red-700: #cd1316;
  --red-750: #bb1114;
  --red-800: #a81012;
  --red-850: #950e10;
  --red-900: #830c0e;
  --red-950: #2e0405;

  --blue-300: #8794c0;
  --blue-400: #6c7cb2;
  --blue-500: #5466a0;
  --blue-600: #465586;

  --cyan-100: #d7ebfb;
  --cyan-200: #b2d8f8;
  --cyan-300: #8dc5f4;
  --cyan-400: #67b3f1;
  --cyan-500: #42a0ed;
  --cyan-600: #1586e1;
  --cyan-700: #1167ae;
  --cyan-800: #0c497b;
  --cyan-900: #072b48;
  --cyan-950: #041b2e;

  --green-500: #41f179;
  --green-600: #11e956;
  --green-700: #0db543;
  --green-800: #09802f;
  --green-900: #064c1c;
  --green-950: #043212;

  --gray-50: #f5f7f9;
  --gray-100: #e8ecf1;
  --gray-150: #dde3eb;
  --gray-200: #d7dee6;
  --gray-250: #c4d1db;
  --gray-300: #b2c1d0;
  --gray-350: #a3b3c7;
  --gray-400: #919dab;
  --gray-450: #818a98;
  --gray-500: #6e7888;
  --gray-550: #606877;
  --gray-600: #4e5564;
  --gray-650: #454b59;
  --gray-700: #3c424f;
  --gray-750: #323845;
  --gray-800: #252936;
  --gray-850: #202330;
  --gray-900: #181b26;
  --gray-950: #121620;

  --yellow-50: #fffaeb;
  --yellow-100: #fef4d1;
  --yellow-150: #fde9b0;
  --yellow-200: #fddf8f;
  --yellow-250: #fcd570;
  --yellow-300: #f6bd45;
  --yellow-350: #eeb23f;
  --yellow-400: #e5ae3c;
  --yellow-450: #dca336;
  --yellow-500: #efbb03;
  --yellow-550: #d69e02;
  --yellow-600: #c18500;
  --yellow-650: #a96f06;
  --yellow-700: #905a0a;
  --yellow-750: #7b4d0c;
  --yellow-800: #64400e;
  --yellow-850: #4e3310;
  --yellow-900: #3b2710;
  --yellow-950: #2a1c0c;

  --top-nav-bar-height: 50px;

  color-scheme: dark;
}

.h-full-minus-bar {
  height: calc(100vh - var(--top-nav-bar-height) - 1px);
}

.anchor {
  scroll-margin-top: 4rem;
}

body {
  font-family: "DMSans", sans-serif;
}

main strong {
  color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arcuata", serif;
  font-weight: 800;
}

h1::first-letter {
  font-feature-settings: "ss01";
}

main h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: white;
}

main h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: white;
}

main h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: white;
}

main p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

main ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

main ol {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

main a {
  color: inherit;
  text-decoration: underline;
}

main a:hover {
  opacity: 0.7;
}

main code {
  font-family: "Lucida Console", Monaco, monospace;
}

main pre {
  background: var(--gray-700);
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

main p code {
  padding: 1px 4px 1px 4px;
  background: var(--gray-700);
  border-radius: 4px;
}

main ol code {
  padding: 1px 4px 1px 4px;
  background: var(--gray-700);
  border-radius: 4px;
}

main ul code {
  padding: 1px 4px 1px 4px;
  background: var(--gray-700);
  border-radius: 4px;
}

main p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

main img {
  border-radius: 5px;
}

main img,
iframe,
video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main blockquote {
  background: var(--gray-700);
  border-left: 5px solid var(--gray-50);
  padding: 3px 1em 3px;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

main blockquote p {
  margin-bottom: 1rem;
}

main blockquote p:last-child {
  margin-bottom: 0;
}

main .tablewrap {
  overflow-x: auto;
}

main table {
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

main table thead th {
  padding: 1rem;
  background-color: var(--gray-700);
}

main th,
td {
  padding: 0.5em;
}

main thead,
tfoot,
tr:nth-child(even) {
  background: var(--gray-700);
}

.h-full-minus-bar {
  height: calc(100vh - var(--top-nav-bar-height) - 1px);
}

.anchor {
  scroll-margin-top: 4rem;
}

.top-nav-bar-height {
  height: var(--top-nav-bar-height);
}

.under-top-nav-bar {
  top: calc(var(--top-nav-bar-height) + 1px);
}

.nav-menu-item:focus-within .nav-submenu,
.nav-menu-item:hover .nav-submenu {
  visibility: visible !important;
}

.nav-menu-item:hover > div:not(.nav-submenu) .nav-indicator,
.nav-menu-item:focus-within > div:not(.nav-submenu) .nav-indicator {
  visibility: visible !important;
}

.nav-menu-item .nav-submenu div:hover > .nav-indicator,
.nav-menu-item .nav-submenu div:focus-within > .nav-indicator {
  visibility: visible !important;
}

.nav-menu-item:focus-within #nav-focus-indicator-Blog,
.nav-menu-item:hover #nav-focus-indicator-Blog {
  visibility: visible !important;
}

#mobile-nav-menu-item-Blog a,
#mobile-nav-submenu-item-Blog a {
  color: white !important;
}
