@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textlink {
    @apply cursor-pointer underline hover:opacity-70;
  }

  .block-button-primary {
    @apply relative block origin-bottom overflow-hidden rounded-full border text-center text-sm text-gray-950 font-semibold bg-blend-soft-light px-4 py-2 shadow-md focus:outline-none disabled:scale-100 disabled:cursor-not-allowed btn-texture-yellow;
  }

  .block-button-secondary {
    @apply relative block origin-bottom overflow-hidden rounded-full border text-center text-sm text-gray-950 font-semibold bg-blend-soft-light px-4 py-2 shadow-md focus:outline-none disabled:scale-100 disabled:cursor-not-allowed btn-texture-gray;
  }
}

.bg-black-textured {
  background-image: url('/img/800/bg-black.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-blue-textured {
  background: linear-gradient(rgba(20, 25, 39, 1), rgba(0, 0, 0, 0.2)), url('/img/800/maptexture.webp'), url('/img/800/bg-blue.webp');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-wooden-divider {
  background-image: url('/img/800/woodendividergem.webp');
}

.btn-texture-yellow {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 70%),
    linear-gradient(to bottom,
      var(--yellow-350),
      var(--yellow-450),
      var(--yellow-550));
  border-color: var(--yellow-200);
}

.btn-texture-yellow:hover {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 30%),
    linear-gradient(to bottom,
      var(--yellow-500),
      var(--yellow-600),
      var(--yellow-700));
  border-color: var(--yellow-450);
}

.btn-texture-yellow:disabled {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 70%),
    linear-gradient(to bottom, var(--yellow-650), var(--yellow-850));
  border-color: var(--yellow-550);
}

.btn-texture-gray {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 70%),
    linear-gradient(to bottom, var(--gray-250), var(--gray-350));
  border-color: var(--gray-200);
}

.btn-texture-gray:hover {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 30%),
    linear-gradient(to bottom, var(--gray-350), var(--gray-500));
  border-color: var(--gray-350);
}

.btn-texture-gray:disabled {
  background-image: url("/img/800/smalltexture.webp"),
    radial-gradient(circle at center, rgba(255, 255, 255, 0.3), transparent 70%),
    linear-gradient(to bottom, var(--gray-450), var(--gray-550));
  border-color: var(--gray-450);
}
