{{ with (dict "authorKey" .authorKey "date" .date) }} {{ $author := index
$.Site.Data.authors .authorKey }}
<div class="p-4 my-2">
  {{ if $author }}
  <div class="flex items-center space-x-4">
    <a href="{{ $author.link }}" target="_blank" rel="noopener noreferrer">
      <img
        src="{{ $author.image }}"
        alt="{{ $author.name }}"
        class="w-12 h-12 rounded-full object-cover border border-gray-500 hover:border-gray-300"
        height="48"
        width="48"
      />
    </a>
    <div class="flex-1">
      <span class="font-bold text-gray-100">{{ $author.name }}</span>
      <p class="text-sm text-gray-300">
        Last published {{ time.Format "January 2, 2006" .date }}
      </p>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
