<aside class="w-96 p-6 border-gray-600 hidden lg:block border-r h-full-minus-bar overflow-auto bg-gray-800">
  <div class="flex flex-col items-center">
    <img width="150" class="rounded mb-4" loading="lazy" src="/img/800/headshot.png.webp" />
    <p class="mb-4">
      Lane Wagner is a senior back-end developer. He founded <a href="https://boot.dev" target="_blank"
        class="text-blue-400 hover:text-blue-300 underline">Boot.dev</a> to make it
      fun and affordable to become a back-end engineer.
    </p>

    <div class="flex justify-center mb-4">
      <a href="https://boot.dev"
        class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
        Become a Back-end Engineer
      </a>
    </div>

    <p class="mb-8">
      Universities are slow, boot camps are expensive, and e-learning platforms are built for front-end
      learners. Boot.dev is the only resource built just for back-end devs.
    </p>


    <ul>
      <li>
        <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
          href="https://youtube.com/@bootdotdev" target="_blank">
          {{ partial "youtube.svg" . }}
          <span>YouTube</span>
        </a>
      </li>

      <li>
        <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
          href="https://twitter.com/bootdotdev" target="_blank">
          {{ partial "twitter.svg" . }}
          <span>Twitter</span></a>
        </a>
      </li>
    </ul>
  </div>
</aside>
