<aside class="w-96 p-6 border-gray-600 hidden lg:block border-r h-full-minus-bar overflow-auto bg-gray-800 ">
  <div class="flex flex-col">
    <div class="w-full flex justify-center">
      <img width="150" height="150" class="rounded mb-4" loading="lazy" src="/img/800/headshot.png.webp" />
    </div>
    <p class="mb-2">
      Greetings! I'm Lane. I built <a href="https://boot.dev" target="_blank"
        class="text-blue-400 hover:text-blue-300 underline">Boot.dev</a> so you can become a back-end developer by
      playing
      a dopamine-inducing game. You will earn:
    </p>

    <ul class="mb-2 ml-2">
      <li>🎉 XP & Levels</li>
      <li>🌟 Roles & Achievements</li>
      <li>🏁 Leaderboard spots</li>
    </ul>

    <p>all by writing a ton of code.</p>

    <button class="flex justify-center mb-2">
      <a href="https://boot.dev"
        class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
        Start Coding Now
      </a>
    </button>

    <p class="mb-2">
      You will only like our courses if you...
    </p>

    <ul class="mb-4 ml-2">
      <li>...like building projects.</li>
      <li>...enjoy a good game.</li>
      <li>...are ready to dive deep.</li>
    </ul>

    <p class="mb-4 italic text-sm">
      Alternatively, if you're looking to get rich quick or want a shortcut to success, please stay away.
    </p>

    <div class="w-full flex flex-col items-center">
      <ul>
        <li>
          <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
            href="https://youtube.com/@bootdotdev" target="_blank">
            {{ partial "youtube.svg" . }}
            <span>YouTube</span>
          </a>
        </li>

        <li>
          <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
            href="https://twitter.com/bootdotdev" target="_blank">
            {{ partial "twitter.svg" . }}
            <span>Twitter</span></a>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
