<aside class="w-96 p-6 border-gray-600 hidden lg:block border-r h-full-minus-bar overflow-auto bg-glassmorph ">
  <div class="flex flex-col">
    <div class="w-full flex justify-center">
      <img width="150" height="150" class="rounded mb-4" loading="lazy" src="/img/800/headshot.png.webp" />
    </div>
    <p class="mb-2">
      I'm Lane. I built <a href="https://boot.dev" target="_blank"
        class="text-blue-400 hover:text-blue-300 underline">Boot.dev</a> to teach you backend development
      the addicting way.
    </p>

    <ul class="mb-2 ml-2 list-disc">
      <li>Learn Python and Go</li>
      <li>1000+ interactive coding challenges</li>
      <li>Achievements, leaderboards and quests</li>
    </ul>

    <button class="flex justify-center mb-2">
      <a href="https://boot.dev" class="m-4 block-button-primary">
        Learn Backend Development Now
      </a>
    </button>

    <p class="mb-2">
      You will only like Boot.dev if you:
    </p>

    <ul class="mb-4 ml-2 list-disc">
      <li>Want to write a ton of code</li>
      <li>Like building projects</li>
      <li>Enjoy a good game</li>
      <li>Are ready to delve deep</li>
    </ul>

    <p class="mb-4 italic text-sm">
      If you're looking to get rich quick or take shortcuts, please stay away. We are all about building solid
      foundations that lead to successful careers.
    </p>

    <div class="w-full flex flex-col items-center">
      <ul>
        <li>
          <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
            href="https://youtube.com/@bootdotdev" target="_blank">
            {{ partial "youtube.svg" . }}
            <span>YouTube</span>
          </a>
        </li>

        <li>
          <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
            href="https://backendbanter.fm" target="_blank">
            {{ partial "podcast.svg" . }}
            <span>Podcast</span>
          </a>
        </li>

        <li>
          <a class="flex flex-row items-center text-blue-400 hover:text-blue-300 underline"
            href="https://twitter.com/bootdotdev" target="_blank">
            {{ partial "twitter.svg" . }}
            <span>Twitter</span></a>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
