<div style="max-width: 9rem;"
    class="opacity-0 hover:opacity-100 pointer-events-none absolute top-[15px] z-10 flex w-full flex-grow-0 flex-col items-center group-hover:opacity-100">
    <svg viewBox="0 0 179 51" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g opacity="0.4" filter="url(#filter0_f_32_1218)">
            <ellipse cx="89.5" cy="50.5" rx="48.5" ry="9.5" fill="#E5AE3C" />
        </g>
        <path
            d="M98 52H100.414L98.7071 50.2929L91.4142 43C90.6332 42.219 89.3668 42.219 88.5858 43L81.2929 50.2929L79.5858 52H82H98Z"
            fill="url(#paint0_linear_32_1218)" />
        <path
            d="M98 52H100.414L98.7071 50.2929L91.4142 43C90.6332 42.219 89.3668 42.219 88.5858 43L81.2929 50.2929L79.5858 52H82H98Z"
            fill="url(#pattern0_32_1218)" fill-opacity="0.2" />
        <path
            d="M98 52H100.414L98.7071 50.2929L91.4142 43C90.6332 42.219 89.3668 42.219 88.5858 43L81.2929 50.2929L79.5858 52H82H98Z"
            stroke="url(#paint1_linear_32_1218)" stroke-width="2" />
        <defs>
            <filter id="filter0_f_32_1218" x="0.400002" y="0.400002" width="178.2" height="100.2"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="20.3" result="effect1_foregroundBlur_32_1218" />
            </filter>
            <pattern id="pattern0_32_1218" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_32_1218" transform="matrix(0.0038125 0 0 0.007625 -1.40625 -0.5)" />
            </pattern>
            <linearGradient id="paint0_linear_32_1218" x1="90" y1="43" x2="90" y2="51" gradientUnits="userSpaceOnUse">
                <stop stop-color="white" />
                <stop offset="1" stop-color="#CF9F3A" />
            </linearGradient>
            <linearGradient id="paint1_linear_32_1218" x1="90" y1="43" x2="90" y2="51" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B79652" />
                <stop offset="1" stop-opacity="0" />
            </linearGradient>
        </defs>
    </svg>

    <svg viewBox="0 0 135 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="0.5" x2="135" y2="0.5" stroke="url(#paint0_linear_25_58)" />
        <defs>
            <linearGradient id="paint0_linear_25_58" x1="0" y1="1" x2="135" y2="1" gradientUnits="userSpaceOnUse">
                <stop offset="0.01" stop-color="#3C424F" stop-opacity="0.0" />
                <stop offset="0.40" stop-color="#E5AE3C" />
                <stop offset="0.5" stop-color="#E5AE3C" />
                <stop offset="0.60" stop-color="#E5AE3C" />
                <stop offset="0.99" stop-color="#3C424F" stop-opacity="0.0" />
            </linearGradient>
        </defs>
    </svg>
</div>
