<div class="mb-4 glassmorph p-4">
  <p class="mb-2 mt-1 text-2xl text-gray-200 font-bold">Curated backend podcasts, videos and articles. All free.</p>
  <p class="mb-4">
    Want to improve your backend development skills? Subscribe
    to get a copy of The Boot.dev Beat in your inbox each month. It's a newsletter packed with the best
    content for new backend devs.
  </p>
  <div class="grid grid-cols-2 md:grid-cols-6 gap-2">
    <input id="newsletterFName" type="text" placeholder="First Name"
      class="rounded p-2 bg-gray-750 w-full col-span-1 md:col-span-2" />
    <input id="newsletterEmail" type="text" placeholder="Email"
      class="rounded p-2 bg-gray-750 w-full col-span-1 md:col-span-3" />
    <button p class="block-button-secondary col-span-2 md:col-span-1" onclick="newsletterClick()">
      Subscribe
    </button>
    <p id="newsletterError" class="text-red-500 col-span-2 md:col-span-6">
    </p>
    <p id="newsletterSuccess" class="text-blue-300 col-span-2 md:col-span-6">
    </p>
  </div>
</div>

<script>
  async function newsletterClick() {
    const newsletterFName = document.getElementById("newsletterFName").value;
    const newsletterEmail = document.getElementById("newsletterEmail").value;
    document.getElementById("newsletterError").innerText = null
    document.getElementById("newsletterSuccess").innerText = null
    try {
      const resp = await fetch("https://api.boot.dev/v1/mailing_list", {
        method: "POST",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          FirstName: newsletterFName,
          Email: newsletterEmail,
        })
      })
      if (!resp.ok) {
        document.getElementById("newsletterError").innerText = "Invalid contact information"
        return
      }
      document.getElementById("newsletterSuccess").innerText = "You're subscribed!"
    } catch (err) {
      document.getElementById("newsletterError").value = "Invalid contact information"
    }
  }
</script>
