{{ $paginator := $.Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

<ul class="flex flex-row justify-evenly text-blue-400 hover:text-blue-300">
  <!-- Previous page. -->
  {{ if $paginator.HasPrev }}
  <a href="{{ $paginator.Prev.URL }}">
    <li class="bg-blue-500 hover:bg-blue-400 rounded px-6 py-3 text-gray-200 font-extrabold">
      Previous
    </li>
  </a>
  {{ end }}

  <!-- Next page. -->
  {{ if $paginator.HasNext }}
  <a href="{{ $paginator.Next.URL }}">
    <li class="bg-blue-500 hover:bg-blue-400 rounded px-6 py-3 text-gray-200 font-extrabold">
      Next
    </li>
  </a>
  {{ end }}

</ul><!-- .pagination -->
{{ end }}
