<aside class="max-w-md text-gray-400 py-8 lg:ml-8 px-4">
  <h3 class="text-2xl font-bold text-center mb-8">Learn Back-end the Right Way</h3>

  <div class="flex flex-row items-center justify-around text-sm mb-8  text-blue-400">
    <div class="rounded-full border py-1 px-4 border-blue-400">
      1000+ Lessons
    </div>
    <div class="rounded-full border py-1 px-4 border-blue-400">
      20k+ Students
    </div>
    <div class="rounded-full border py-1 px-4 border-blue-400">
      6 Months*
    </div>
  </div>

  <p class="mb-8">
    Learn modern back-end development
    skills in Python, JavaScript and Go. Write
    real code, build and deploy cloud-native projects, and prepare
    your portfolio for your next coding job.
  </p>

  <div>
    {{ range $index, $val := $.Site.Params.Courses }}
    <a class="flex items-center hover:opacity-50 cursor-pointer" href="{{$val.link}}">
      <span class="text-3xl mr-4">
        {{add $index 1}}.
      </span>
      <img class="rounded w-10" height="40" width="40" src="{{$val.imgURL}}" />
      <div class="ml-4">
        <div class="text-md font-bold text-gray-300">
          {{$val.name}}
        </div>
        <div class="text-sm">
          {{$val.type}}
        </div>
      </div>
    </a>
    <div class="border-b w-full my-6 border-gray-600"></div>
    {{ end }}
  </div>

  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
      Start the Back-end Career Path
    </a>
  </div>
</aside>
