<div class="bg-gray-800 rounded p-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2">Learn to code by building real projects</h2>
  <ul class="list-disc ml-4">
    <li>Write modern code in JavaScript, Python and Go</li>
    <li>Build and deploy real projects to your personal developer portfolio</li>
    <li>Compete in the job market by mastering computer science fundamentals</li>
  </ul>
  <div class="flex justify-center">
    <a href="https://boot.dev" class="p-4 m-4 rounded bg-blue-500 hover:bg-blue-400">
      Join Boot.dev for Free
    </a>
  </div>
</div>
