<div class="bg-gray-750 rounded p-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2">Become a backend engineer by building real projects</h2>
  <ul class="list-disc ml-4">
    <li>Write modern code in JavaScript, Python and Go</li>
    <li>Build and deploy real backend projects to your personal portfolio</li>
    <li>Compete in the job market by mastering computer science fundamentals</li>
  </ul>
  <div class="flex justify-center">
    <a href="https://boot.dev" class="p-4 m-4 rounded text-white bg-blue-500 hover:bg-blue-400">
      Start coding on Boot.dev for Free
    </a>
  </div>
</div>
