<nav class="z-50 border-b border-gray-600 bg-image-blue fixed w-dvw">
  <div class="mx-auto px-2 lg:px-8 top-nav-bar-height">
    <div class="relative flex items-center justify-between h-full">
      <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
        <button
          type="button"
          onclick="clickMobileMenuToggle()"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div
        class="flex-1 flex items-center justify-center sm:justify-evenly"
        style="justify-content: space-between"
      >
        <div class="h-full">
          <h2 class="text-xl font-bold hidden lg:block">
            <a href="https://www.boot.dev">
              <img
                src="/img/300/bootdev-logo-full-small.png"
                height="48"
                class="h-12"
              />
            </a>
          </h2>
        </div>
        <div
          class="hidden lg:flex text-sm top-nav-bar-height items-center xl:space-x-4"
        >
          {{ range .Site.Menus.main }} {{ if .Params.top }}
          <div class="nav-menu-item relative">
            <div class="flex flex-col items-center justify-center">
              <a
                href="{{.URL}}"
                class="text-gray-300 hover:text-white px-3 py-4 rounded"
              >
                {{ .Name }}
              </a>
              {{ partial "nav_focus_indicator.html" . }}
            </div>

            {{ if .HasChildren }} {{ $parent := .Name }}
            <div
              id="submenu-{{ .Name }}"
              class="nav-submenu fixed under-top-nav-bar border-b border-gray-600 bg-image-blue w-[150vw]"
              style="visibility: hidden; transform: translateX(-49%)"
            >
              <div class="flex space-x-6 xl:space-x-10 justify-center">
                {{ range $child := .Children }}
                <div class="flex flex-col items-center justify-center">
                  <a
                    href="{{.URL}}"
                    class="text-gray-300 hover:text-white px-3 py-4 rounded w-max whitespace-nowrap"
                  >
                    {{ $child.Name }}
                  </a>
                  {{ partial "nav_focus_indicator.html" . }}
                </div>
                {{ end }}
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }} {{ end }}
        </div>
        <a href="https://www.boot.dev" class="block-button-primary">
          Sign In
        </a>
        <div class="block lg:hidden"></div>
      </div>
    </div>
  </div>
  <div
    style="display: none"
    class="h-dvh w-dvw lg:invisible lg:h-0 lg:w-0"
    id="mobile-menu"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      <ul class="flex flex-col gap-2">
        {{ range .Site.Menus.main }} {{ if .Params.top }}
        <li
          id="mobile-nav-menu-item-{{ .Name }}"
          class="block px-3 text-base font-medium text-gray-300 sm:text-lg"
        >
          <a href="{{.URL}}" class="hover:text-white">
            <span>{{ .Name }}</span>
          </a>
          {{ if .HasChildren }} {{ $parent := .Name }}
          <ul class="mt-3 border-t border-gray-600 py-2">
            {{ range $child := .Children }}
            <li
              class="block px-3 py-1 text-sm font-normal text-gray-300 sm:text-base"
              id="mobile-nav-submenu-item-{{ .Name }}"
            >
              <a href="{{.URL}}" class="hover:text-white">
                <span> {{ $child.Name }} </span>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</nav>

<script>
  // eslint-disable-next-line no-unused-vars
  function clickMobileMenuToggle() {
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu.style.display === "none") {
      mobileMenu.style.display = "block";
    } else {
      mobileMenu.style.display = "none";
    }
  }
</script>
