{{ partial "header.html" . }} {{ $isBlog := and (.Params.categories) (not (in
.Params.categories "wiki")) }}

<div class="flex flex-row">
  <div class="flex-1 h-full-minus-bar overflow-y-auto items-center w-full p-14">
    <div class="max-w-3xl p-4 m-auto">
      {{ if .Params.images }}
      <div class="mb-4">
        <img
          class="rounded"
          width="736"
          height="490"
          {{
          if
          .Params.imageAlts
          }}
          alt="{{ index (.Params.imageAlts) 0 }}"
          {{
          end
          }}
          src="{{ index (.Params.images) 0 }}"
        />
      </div>
      {{ end }}

      <h1 class="text-4xl text-white mb-2">{{ .Title }}</h1>
      {{ partial "breadcrumb" . }} {{ if .Params.author }} {{ $authorKey :=
      .Params.author }} {{ $date := cond (gt .Params.lastmod .Params.date)
      .Params.lastmod .Params.date }} {{ partial "author.html" (dict "authorKey"
      $authorKey "date" $date "Site" .Site) }} {{ end }}

      <div>
        {{ if $isBlog }} {{ partial "newsletter.html" . }} {{ end }}

        <main>
          {{ if .Params.toc }}
          <h2>Table of Contents</h2>
          <aside>{{ .TableOfContents }}</aside>
          {{ end }} {{ .Content }} {{ if $isBlog }} {{ partial "signature.html"
          . }} {{ end }}
        </main>

        {{ if $isBlog }} {{ partial "related.html" . }} {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
  {{ if (findRE "<pre" .Content 1) }}
  <script>
    {{ partial "code-block-copy.js" . | safeJS }}
  </script>
  {{ end }}
</div>
