<div id="cta2" class="bg-gray-700 rounded p-4 mb-4">
  <h2 class="text-3xl mb-2 mt-1">Come to the dark side
  </h2>
  <img src="/img/800/html-courses.png.webp" alt="HTML Courses" class="rounded mb-4">
  <div>
    <p>
      Regards and sorry for the interruption, Lane here! I built Boot.dev to give you a place to learn back-end
      development the...hard way?
      I mean easy? Maybe the "heasy" way? I don't know.
    </p>
    <p>
      It's hard because you will have to write code... like a metric ton of code.
      It's easy because my courses have a built-in game that's pretty darn fun. Give it a try.
    </p>
  </div>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 mb-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
      <button>Start the Back-end Career Path</button>
    </a>
  </div>
</div>
