<div id="cta2" class="bg-gray-700 rounded p-4 mb-4">
  <h2 class="text-2xl text-blue-400 mb-2 mt-1">Get a back-end job without spending $10k on a
    bootcamp
  </h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:mr-4 mb-2">
      <img width="100" class="max-w-fit" src="/img/800/boot_dev_logo_full_256.png" />
    </div>
    <ul>
      <li>
        Learn Python, Javascript and Go
      </li>
      <li>
        Build the professional projects you need to land your first job
      </li>
      <li>
        Spend about 6 months (when done part-time)
      </li>
      <li>
        Pricing as low as $24/month*
      </li>
      <li>
        No risk. Cancel anytime.
      </li>
    </ul>
  </div>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 mb-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
      <button>Start our Back-end Career Path</button>
    </a>
  </div>
</div>
