<div id="cta1" class="bg-gray-750 rounded p-4 mb-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2 mt-0">A simple path to your career in backend development</h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:mr-4 mb-2">
      <img width="150" class="max-w-fit" src="/img/800/daniel-gerep-300x300.webp" />
    </div>
    <div>
      <p>
        The pace of Boot.dev's JavaScript, Python and Go courses has been perfect for me.
        The diverse community in Discord is a blast,
        and other members are quick to help out with detailed answers and explanations.
      </p>
      <p class="italic text-gray-400">
        - Daniel Gerep from Cassia, Brasil
      </p>
    </div>
  </div>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400">
      Start Learning CS for Backend Now
    </a>
  </div>
</div>
