<div id="cta2" class="bg-gray-750 rounded p-4 mb-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2">Learn to code by writing code</h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:mr-4 mb-2">
      <img width="150" class="max-w-fit" src="/img/800/Ozgur.webp" />
    </div>
    <div>
      <p>
        I was a field service engineer and I wanted to learn to code, but work and family limited my options.
        Since completing the computer science track on Boot.dev, I now have a job offer in hand and will be starting my career as a software developer in the coming months.
      </p>
      <p class="italic text-gray-400">
        - Özgür Yildirim from Germany
      </p>
    </div>
  </div>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400"> Start Learning
      Start Learning to Code for Free
    </a>
  </div>
</div>
