<div class="bg-gray-750 rounded p-4 mb-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2">Learn JavaScript by building real projects</h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:mr-4 mb-2">
      <img width="150" class="max-w-fit" src="/img/800/Ozgur.webp" />
    </div>
    <div>
      <p>
        I was a field service engineer and I wanted to learn to code, but work and family limited my options.
        When I found Boot.dev, the "Intro to Coding in JavaScript" course got me up and running immediately,
        and I knew I made the right decision as soon as I joined the Discord community.
      </p>
      <p class="italic text-gray-400">
        - Özgür Yildirim from Germany
      </p>
    </div>
  </div>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400"> Start Learning
      JavaScript for Free
    </a>
  </div>
</div>
