<div id="cta3" class="bg-gray-750 rounded p-4 mb-4">
  <h2 class="text-2xl font-bold text-blue-400 mb-2 mt-1">Learn backend development the right way</h2>
  <p>
    Computer science skills will get you interviews. A portfolio of projects will get you hired.
  </p>
  <div class="flex justify-center">
    <a href="https://boot.dev"
      class="p-4 m-4 rounded text-white hover:text-white no-underline bg-blue-500 hover:bg-blue-400"> Start Learning
      CS for Backend Free
    </a>
  </div>
</div>
